.title {
  color: var(--black-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  cursor: pointer;
}

.location {
  color: var(--dark-grey-color);
  font-size: 18px;
  line-height: 29px;
  cursor: pointer;
}

.date {
  cursor: pointer;
}

@media (width <= 600px) {
  .location {
    text-align: end;
  }
}
