.select {
  height: 45%;
  padding: 5px;
  font-size: 19px;
  line-height: 22px;
  background-color: var(--white-color);
  border: 1px solid var(--grey-color);
  border-radius: 10px;
  outline: none;
  box-shadow: 0 0 10px rgb(99 93 107 / 20%);
}

@media (width <= 600px) {
  .select {
    width: 90%;
  }
}
