.dateInfo {
  display: flex;
  place-content: center space-between;
}

@media (width <= 600px) {
  .dateInfo {
    max-width: 200px;
  }
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 35px;
  margin-right: 10px;
  margin-left: 10px;
  color: var(--white-color);
  font-weight: 800;
  line-height: 18px;
  background-color: var(--red-color);
  border-radius: 10px;
}

.dayHorizont {
  min-width: 35px;
}

.date {
  min-width: 100px;
}

.dateHorizont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 180px;
}

.mounth {
  color: var(--red-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}

.additionDateInfo {
  padding-top: 5px;
  font-size: 13px;
}
