.dateInfo{ 
  display: flex;
  justify-content: space-between;  
  min-width: 250px; 
  
}
.day{ 
  background-color: var(--red-color);
  height: 35px;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--white-color);
  font-weight: 800;
  line-height: 18px;
}

.dayHorizont{
  width: 35px;
}


.date{  
   min-width: 100px;
}

.dateHorizont{
  display: flex; 
  align-items: center;
  justify-content: space-between;
  min-width: 180px;
}

.mounth{
  color: var(--red-color);
  font-weight: 700;
  line-height: 29px;
    font-size: 20px;
}
 
.additionDateInfo{
  font-size: 13px;  
}

