.heroSection {
  width: 100%;
}

.heroBaner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 100px;
  padding-bottom: 20px;
}

.heroText {
  max-width: 455px;
}

.heroTitle {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;
}

.heroDiscription {
  color: #28334e;
  font-size: 18px;
  line-height: 30px;
}

.heroImg {
  width: 90%;
  max-width: 470px;
}

@media (width <= 600px) {
  .heroBaner {
    padding-top: 10px;
  }

  .heroTitle {
    font-size: 45px;
  }
}
