#root {
  /* основной котнейнер*/
  max-width: 1120px;
  min-height: 100%; 
  box-sizing: border-box; 
  margin: 0 auto; 
  position: relative;
}

:root {
  --white-color: #fff;  ;  
  --grey-color:  #f5f6fa;
  --dark-grey-color:#28334e;
  --red-color: #f34f6d;
  --black-color:#000
}

