#root {
  box-sizing: border-box;

  /* основной котнейнер */
  max-width: 1120px;
  min-height: 100%;
  margin: 0 auto;
}

:root {
  --white-color: #fff;
  --grey-color: #f5f6fa;
  --dark-grey-color: #28334e;
  --red-color: #f34f6d;
  --black-color: #000;
}
