* {
  margin: 0;
  padding: 0;
}

:root,
body {
  min-height: 100%;
}

body {
  position: relative;
  background: linear-gradient(
    to bottom,
    rgb(199 160 247 / 50%),
    30%,
    rgb(248 163 230 / 50%),
    rgb(255 255 255)
  );
  background-repeat: no-repeat;
  background-size: 100% 500px;
}

a {
  text-decoration: none;
}
